footer{
    background-color: #038cd1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    border-top: solid #015e8d;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 50px;
}
footer pre{
    color: white;
}