main{
 padding-left: 15%;
 padding-right: 15%;
}
.about{
    color: #FF0000;
    padding-top: 8%;
}
.aboutChanel{
    display: flex;
    margin-bottom: 5%;
}
.description{
    color: white;
    text-align: justify;
}
article{
    justify-content: center;
    margin-bottom: 5%;
    display: flex;
}

.product{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.setupTitle{
    color: #00A2FD;
    padding-top: 20%;
}
.product:hover{
    color: #00A2FD;
}
.groupSection{
    display: flex;
    gap: 80px;
  
    justify-content: center;
}
.logo{
    width: 350px;
}
.redesTitle{
    color: #00A2FD;
    padding-top: 30%;
}
.rede{
    text-decoration: none;
    color: #FFF500;
    display: flex;
    align-items: center;
}
.rede:hover{
    color: #FF0000;
}

@media(max-width: 928px)
{
.logo{
    width: 250px;
}
}
@media(max-width: 750px)
{
    main{
        padding-left: 10%;
        padding-right: 10%;
    }
.logo{
    width: 150px;
}
.about{
    padding-top: 15%;
}
.redesTitle{

    padding-top: 45%;
}
.setupTitle{
    padding-top: 30%;
}
}

@media(max-width: 692px)
{
    main{
        padding-left: 5%;
        padding-right: 5%;
    }
    .about{
        padding-top: 1%;
    }
    .redesTitle{
    
        padding-top: 1%;
    }
    .setupTitle{
        padding-top: 1%;
    }
}
@media(max-width: 506px)
{
   .groupSection{
    gap: 10px;
   }
}
@media(max-width: 446px)
{
   .groupSection{
    flex-wrap: wrap;
   }
   .aboutChanel{
    flex-wrap: wrap;
   }
   .logo{
    width: 250px;
   }
}
@media(max-width: 377px)
{
   .about{
    padding-top: 1%;
   }main{
    padding-left: 1%;
    padding-right: 1%;
   }
}